*, *::after, *::before
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.body 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f1ed;
    color: #de4848;
    height: 100vh;
}

.new
{
    background-color: black;
}

.flip-card
{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    border-radius: 0.1em;
}

.top, 
.bottom,
.flip-card  .top-flip,
.flip-card .bottom-flip
{
  height: 0.75em;
  line-height: 1;
  padding: .25em;
  overflow: hidden;
}


.top,
.flip-card .top-flip
{
    background-color: #f7f7f7;
    border-radius: 0.1em 0.1em 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.bottom,
.flip-card .bottom-flip
{
    background-color: white;
    display: flex;
    align-items: flex-end;
    border-radius: 0 0 0.1em 0.1em;
}



.flip-card .top-flip
{
    position: absolute;
    top: 0;
    height: 50%;
    animation: flip-top 250ms ease-in;
    transform-origin: bottom;
}

@keyframes flip-top {
    100%
    {
        transform: rotateX(90deg);
    }
}

.flip-card .bottom-flip
{
    position: absolute;
    bottom: 0;
    height: 50%;
    animation: flip-bottom 250ms ease-in 250ms;
    transform-origin: top;
    transform: rotateX(90deg);
}

@keyframes flip-bottom {
    100%
    {
        transform: rotateX(0deg);
    }
}

.title-container
{
    text-align: center;
    display: block;
    font-size: 2rem;
    margin-bottom: 2em;
}

.wish{
    font-size: 40vh;
    font-weight: bold;
}

.newyear
{
    font-size: 10vh;
    font-weight: bold;
}


.container
{
    display: flex;
    gap: .5em;
    margin-bottom: 200px;
    font-size: 4rem;
}

.container-segment{
    display: flex;
    gap: .1em;
    flex-direction: column;
    align-items: center;
}

.title-segment
{
    font-size: 1.3rem;
}

.flip-segment
{
    display: flex;
    gap: .1em;
   
}